.color {
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 0 0 5px gray;
    cursor: pointer;
    margin: 15px;
    margin-left: 0px;
    position: relative;
    text-decoration: none !important;
}

.color:hover {
    box-shadow: 0 0 15px #666666;
}

.colorName {
    background: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    bottom: 0;
    color: black;
    font-size: 18px !important;
    height: 38px !important;
    margin-right: 15px;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
}

.large {
    cursor: default !important;
    height: 400px !important;
    width: 660px;
}

.large:hover {
    box-shadow: 0 0 5px gray;;
}

.small {
    height: 120px !important;
    width: 120px;
}

@media only screen and (max-width: 1200px) {
    .large {
        height: 250px !important;
        width: 100%;
    }
}