.clearBtn {
    background: #fff;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    font-size: 16px;
    margin: auto;
    margin-bottom: 20px;
    padding: 8px;
    width: 200px;
}

.clearBtn:hover {
    background: #343a40;
    color: white;
    transition: 0.25s;
}

.color {
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
    height: 100px;
    margin: 15px;
    margin-left: 0px;
    text-decoration: none !important;
}

.colorName {
    background: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: black;
    font-size: 16px;
    height: auto;
    text-align: center;
    text-decoration: none !important;
}

.detailView {
    margin: 5px 20px;
    text-align: center;
}

.nextColors {
    display: flex;
    flex-wrap: wrap;
}