.colorList {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    float: left;
    margin-left: 20px;
    text-align: center;
}

.pageBtn {
    margin-right: 3px;
    width: 100px;
}

.pageBtn:hover {
    background: #343a40;
    color: #fff;
    transition: 0.75s;
}

.prevNextBtns {
    margin: auto;
}