.logo {
    cursor: pointer;
}

.navbar {
    color: black;
    font-family: 'Source Serif Pro', 'Times New Roman', 'Arial';
    min-width: 320px;
    padding-right: 0px;
    width: 100%;
}

.searchBox {
    position: absolute;
    right: 50px;
}

.suggestion {
    color: black;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.suggestions {
    background: #fff;
    border: 1px solid black;
    color: black;
    flex-wrap: wrap;
    height: auto;
    line-height: 1.2;
    max-height: 250px;
    overflow-y: scroll;
    position: absolute;
    right: 50px;
    top: 68px;
    width: 200px;
    z-index: 101;
}